
<div class="jumbotron" style=" padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;">
  <h1 class="display-4"><p><strong>Title:</strong><%= @book.title %></p></h1>
  <p class="lead"><p><strong>Description:</strong><%= @book.description %></p>
  <p><strong>Author:</strong><%= @book.author %></p>
  </p>
  <hr class="my-4">

  <%= link_to 'Edit', edit_book_path(@book), class:"btn btn-secondary" %> 
  <%= link_to 'Back', books_path , class:"btn btn-dark"%>
</div>


